/*buttons*/
.button {
    display: block;
    width: 280px;
    margin: 0 auto;
    height: 47px;
    background-color: $yellow;
    font-weight: bold;
    border-radius: 6px;
    border: 0;
    color: $text;
    cursor: pointer;
    margin-bottom: 3px;
    font-size: 16px;
    &.light {
        height: 55px;
        background-color: $yellow-light;
    }

    &.full {
        width: 100%;
    }

    -webkit-box-shadow: 0px 3px 0px 0px rgba(236, 182, 25, 1);
       -moz-box-shadow: 0px 3px 0px 0px rgba(236, 182, 25, 1);
            box-shadow: 0px 3px 0px 0px rgba(236, 182, 25, 1);

    &:hover {
        -webkit-box-shadow: 0px 2px 0px 0px rgba(236, 182, 25, 1);
           -moz-box-shadow: 0px 2px 0px 0px rgba(236, 182, 25, 1);
                box-shadow: 0px 2px 0px 0px rgba(236, 182, 25, 1);
        -webkit-transform: translateY(1px);
        -ms-transform: translateY(1px);
        -o-transform: translateY(1px);
        transform: translateY(1px);
    }
}


/*form*/
input[type=text],
input[type=tel],
input[type=email] {
    display: block;
    height: 45px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #EBEBEB;
    font-size: 14px;
    font-weight: normal;
    color: #999999;
    padding: 0 15px;
    width: 100%;
}

.form-group {
    display: block;
    width: 100%;
}

.order {
    color: #FFF;
     width: 970px;
    display: block;
    margin: 0 auto;
    > p {
        display: block;
        text-align: center;
        margin-bottom: 32px;
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
    }
}
.order-form {
    width: 970px;
    display: block;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    color: #fff;
    box-shadow: 0px 0px 60px 0px rgba(17, 17, 17, 0.15); 
    &--white {
        color: $text;
    }
    form {
        @include flex($alignI:center);
        margin: 0 -7px;

        .form-group {
            width: 33.33%;
            padding: 0 7px;
        }

        input {
            height: 50px;
        }
    }

    .title {
        text-transform: uppercase;
        font-size: 28px;
        font-weight: bold;
        line-height: 30px;
    }

    .order-offer {
        font-size: 20px;
        font-weight: bold;
        line-height: 30px;
        margin-bottom: 20px;

        span {
            color: $yellow;
            font-weight: 900;
        }
    }
}