.contacts {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    @extend %clearfix;
    padding: 75px 0;

    @media (min-width: 992px) {
        background-image: url(../images/contacts.jpg);
    }
    @media (max-width: 991px) {
        background-image: url(../images/contacts-mobile.jpg);
    }
    

    &-form {
        width: 50%;
        float: right;
        color: #fff;

        @media (max-width: 991px) {
            width: 100%;
        }

        &-label {
            font-weight: bold;
            font-size: 30px;
            line-height: 40px;
            letter-spacing: 0.04em;
            margin-bottom: 40px;

            @media (max-width: 767px) {
                font-size: 26px;
                line-height: 36px;
                margin-bottom: 36px;
            }

            span {
                color: $yellow;
                text-transform: uppercase;
                font-size: 26px;

                @media (max-width: 767px) {
                    font-size: 22px;
                }
            }
        }


        form {
            width: 100%;
            @include flex($alignI: center, $justify: center);
            margin: 0 -5px;
            margin-bottom: 40px;

            @media (max-width: 991px) {
                display: block;
            }

            .form-group {
                width: 50%;
                padding: 0 5px;
                margin-bottom: 15px;

                @media (max-width: 991px) {
                    width: 280px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    padding: 0;
                }
            }
        }

        .questions-title {
            font-size: 30px;
            color: $yellow-light;
            text-transform: uppercase;
            line-height: 36px;

            & ~ p {
                font-size: 20px;
                line-height: 36px;
            }
        }


    }
}