.footer {
    padding: 8px 0;

    &-logo {
        display: inline-block;
        vertical-align: middle;
        width: 200px;

        img {
            display: block;
            width: 100%;
        }
    }

    &-moto {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        padding-left: 18px;
        line-height: 22px;
        letter-spacing: 0.04em;
    }

    &-contacts {
        text-align: right;
        line-height: 22px;
        letter-spacing: 0.04em;
    }

    &-phone {
        font-weight: 900;
        font-size: 22px;
    }

    &-email {
        font-weight: bold;
        color: inherit;
    }
}