.offer {
    height: 680px;
    background-image: url("../images/offer-bg.jpg");
    background-position: 50% 50%;
    padding: 0;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    @include flex($direction: column, $justify: flex-end);
    color: #FFF;
    .wrapper {
        position: relative;
    }
    &__info {
        margin-top: 50px;
        @include flex($alignI: flex-start);
        position: relative;
        bottom: -40px;
    }
    .border-block {
        width: 470px;
        position: absolute;
        bottom: 0;
        left: 200px;
        -webkit-transform: translateY(50%);
           -moz-transform: translateY(50%);
            -ms-transform: translateY(50%);
             -o-transform: translateY(50%);
                transform: translateY(50%);
    }
    .form {
        background-color: #FFF;
    }
}

.icons-text-list {
    list-style-type: none;
    text-align: left;
    li {
        display: block;
        margin-bottom: 22px;
        letter-spacing: .6px;
        img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 18px;
            position: relative;
            top: -3px;
        }
        span {
            color: $yellow;
        }
    }
}

.form {
    width: 370px;
    padding: 40px 35px;
    color: $text;
    box-shadow: 0px 0px 60px 0px rgba(17, 17, 17, 0.15);
    input {
        margin-bottom: 7px;
    }
    p {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 24px;
        span {
            font-weight: 900;
            font-size: 28px;
            text-transform: uppercase;
        }
    }
    div {
        padding: 0 10px;
    }
    .button {
        width: 100%;
    }
}


.border-block {
    padding: 20px;
    background-image: url("../images/action.jpg");
    background-position: 50% 50%;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    -webkit-box-shadow: 0 0 60px rgba(0,0,0,.15);
        box-shadow: 0 0 60px rgba(0,0,0,.15);
    > div {
        background-color: #FFF;
        font-size: 20px;
        line-height: 30px;
        font-weight: 900;
        letter-spacing: .2px;
        color: $text;
        padding: 35px 50px;
        span {
            color: $yellow;
            display: block;
        }

    }
    .flex {
        padding-left: 25px;
        padding-right: 25px;
        text-align: left;
        -webkit-align-items: center;
                align-items: center;
        -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
        div {
            width: 50%;
            &:nth-of-type(2) {
                text-align: right;
            }
            .button {
                display: inline;
            }
        }
    }
}

.flex {
    @include flex($alignI: flex-start);
}





// WHY (Second section)
.why {
    padding-top: 170px;
    .border-block {
        width: 770px;
        max-width: 100%;
        display: block;
        margin: 50px auto 0;
    }
}
.why_list,
.advantages_list {
    width: 50%;
    text-align: left;
    > span {
        display: block;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 45px;
    }
    ul {
        list-style-type: none;
    }
}

.why_list {
    padding-right: 130px;
    text-align: right;
    ul {
        li {
            display: block;
            padding: 18px 40px;
            margin-bottom: 28px;
            border: 4px solid #F7F7F7;
            position: relative;
            font-size: 16px;
            line-height: 24px;
            font-weight: 100;
            &:after {
                display: block;
                content: "";
                position: absolute;
                top: 0;
                right: -15px;
                bottom: 0;
                margin: auto;
                width: 28px;
                height: 23px;
                background-image: url("../images/danger-icon.svg");
                -webkit-background-size: 100% 100%;
                     -o-background-size: 100% 100%;
                        background-size: 100% 100%;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


.advantages_list {
    ul {
        padding-top: 2px;
        li {
            display: block;
            margin-bottom: 30px;
            position: relative;
            font-size: 16px;
            line-height: 24px;
            font-weight: 100;
            min-height: 80px;
            &:nth-child(4) {
                margin-bottom: 40px;
            }
            &:nth-child(5) {
                margin-bottom: 38px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            i {
                width: 70px;
                height: 70px;
                margin: 0;
                display: block;
                border-radius: 10px;
                border: 2px solid #fec41d;
                text-align: center;
                line-height: 63px;
                display: inline-block;
                vertical-align: middle;
                img {
                    display: inline-block;
                    vertical-align: middle;
                    height: 35px;
                }
            }
            span {
                padding-left: 30px;
                display: inline-block;
                vertical-align: middle;
                width: calc(100% - 72px);
            }
        }
    }
}



// BUDGETS
.budget-section {
    background-image: url("../images/budget-section.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    position: relative;
    padding-bottom: 200px;
    .order {
        position: absolute;
        bottom: 0;
        left: 0;
        right : 0;
        margin: auto;
        -webkit-transform: translateY(50%);
           -moz-transform: translateY(50%);
            -ms-transform: translateY(50%);
             -o-transform: translateY(50%);
                transform: translateY(50%);
    }
}
.budgets {
    @include flex($alignI: flex-start);
}

.budget {
    width: 31.5%;
    background-color: #FFF;
    &__img {
        display: block;
        width: 100%;
        background-position: 50% 50%;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        &:after {
            display: block;
            content: "";
            padding-top: 55%;
        }
    }
    &__info {
        padding: 22px 25px 40px;
        h3 {
            font-size: 23px;
            font-weight: 100;
            margin-bottom: 14px;
            strong {
                font-weight: 700;
            }
        }
        &__price {
            font-size: 26px;
            color: $yellow;
            font-weight: 900;
        }
        hr {
            border: none;
            display: block;
            margin: 35px auto;
            width: 140px;
            height: 1px;
            background-color: #dddddd;
        }
    }
    ul {
        list-style-type: none;
        text-align: left;
        span {
            display: block;
            font-weight: 700;
            margin-bottom: 14px;
        }
        li {
            display: block;
            margin-bottom: 14px;
            line-height: 20px;
            font-size: 14px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}




// OUR WORKS
.our-works {
    padding-top: 170px;
    hr {
        border: none;
        display: block;
        margin: 75px auto 0;
        width: 970px;
        height: 1px;
        max-width: 100%;
        background-color: #dddddd;
    }
    .section-title,
    .order-form {
        margin-top: 75px;
    }
}

.works-slider {
    margin-bottom: 40px;
}
.works-slider + p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    max-width: 80%;
    margin: 0 auto;
}
.works-slider__slide {
    padding: 15px;
    background-color: #fff;
    a {
        display: block;
        background-color: $text;
        position: relative;
        background-position: 50% 50%;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
        &:before {
            content: "";
            display: block;
            opacity: 0;
            position: absolute;
            left: 20px;
            right: 20px;
            top: 20px;
            bottom: 20px;
            background-color: $yellow;
            @include transition(all, .2s);
            background-image: url("../images/zoom-icon.svg");
            background-repeat: no-repeat;
            background-position: 50% 50%;
            -webkit-background-size: 75px auto;
                 -o-background-size: 75px auto;
                    background-size: 75px auto;
        }
        &:after {
            content: "";
            display: block;
            padding-top: 100%;
        }
        &:hover:before {
            opacity: .8;
        }
    }
}

.work-price {
    border-radius: 10px;
    border: 1px solid #fec41d;
    text-align: center;
    padding: 18px 30px;
    margin: 18px auto 0;
    width: 770px;
    max-width: 100%;
    font-size: 20px;
    font-weight: 100;
    span {
        font-weight: 700;
    }
}
.work-price + .subtitle {
    margin-top: 10px;
}