// COLORS
// ---------------------------
$text:                      #323840;
$yellow:                    #fec41d;
$yellow-light:              #fed750;

// FONTS
// ---------------------------



// RESPONSIVE
// ---------------------------
